body {
    background-color: hsl(212, 45%, 89%);
}

#content {
    background-color: hsl(0, 0%, 100%);
    background-size: 200px;
    text-align: center;
    width: 275px;
    padding-top: 15px ;
    margin: 50% auto;
}

