body {
    background-color: hsl(212, 45%, 89%);
    font-family: 'Outfit', 'sans-serif';
}


#content {
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    text-align: center;
    width: 330px;
    height: 500px;
    margin: auto;
    padding-top: 15px;
    align-items: center;
}

img {
    border-radius: 15px;
}

#text-contain {
    padding-right: 25px;
    padding-left: 25px;
}

p {
    color: hsl(220, 15%, 55%);
}