body {
    background-color: hsl(212, 45%, 89%);
}

#content {
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    text-align: center;
    width: 330px;
    height: 470px;
    margin: 0 auto;
    padding-top: 10px;
}

img {
    border-radius: 25px;
}

h4 {
    font-family: 'Outfit', sans-serif;
}

p {
    font-family: 'Outfit', 'sans-serif';
}

#text-container {
    border: 2px black;
}